* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(to top, rgb(125, 38, 53));
  background-image: url(background\ image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 109vh;
}
.navbar {
  width: 1400px;
  height: 100px;
  margin: auto;
}
.icon {
  width: 200px;
  height: 70px;
  float: left;
}
.logo {
  color: orangered;
  font-size: 40px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 20px;
}
.menu {
  width: 500px;
  float: left;
  height: 70px;
  padding-left: 100px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 60px;
  margin-top: 25px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: rgb(244, 238, 238);
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
ul li a:hover {
  color: rgb(231, 107, 73);
}

.search {
  width: 300px;
  float: left;
  margin-left: 250px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orangered;
  margin-top: 15px;
  color: white;
  border-right: none;
  font-size: 14px;
  float: left;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
.para {
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.btn {
  width: 100px;
  height: 40px;
  background: orangered;
  border: 2px solid orangered;
  margin-top: 15px;
  color: white;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}
.content {
  width: 1200px;
  height: auto;
  margin: auto;
  padding-top: 150px;
  color: white;
  position: relative;
}
.content.para {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content .joinBtn {
  width: 160px;
  height: 40px;
  background: orangered;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .joinBtn a {
  text-decoration: none;
  color: rgb(241, 231, 231);
  transition: 0.3s ease;
  font-size: 16px;
}
.joinBtn:hover {
  background-color: rgb(232, 116, 116);
}
.content span {
  color: orangered;
  font-size: 60px;
}
.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgb(185, 44, 44) 50%,
    rgb(188, 35, 35) 50%
  );
  position: absolute;
  top: 150px;
  left: 1105px;
  border-radius: 10px;
  padding: 30px;
}
.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: orangered;
  font-size: 22px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid orangered;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.form input :focus {
  outline: none;
}
::placeholder {
  color: white;
  font-family: Arial;
}
.bt {
  width: 240px;
  height: 35px;
  margin-top: 10px;
  color: white;
  background: orangered;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 2px;
  font: 50px;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.bt:hover {
  background: white;
}
.bt a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.form .link {
  font-family: Arial;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
}
.form .link.a {
  text-decoration: none;
  color: white;
}
.log {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-family: Arial;
}
